<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <h2>My Quotes</h2>
      <div class="row">
        <!-- <div class="col-md-2"></div> -->
      <div *ngFor="let quote of quotes; let i = index" class="card" style="width: 18rem;">
        <div class="card-body">
          <!-- <h5 class="quote-title">{{quote.quotetitle}}</h5> -->

          <p class="quote-text">{{quote.quotecontent}}</p>
          <p class="quote-author">{{quote.author}}</p>

          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-star" aria-hidden="true" (click)="upVote()">{{upvotes}}<i class="fa fa-thumbs-up"></i></span> like
          </button>
          <button type="button" class="btn btn-default ">
            <span class="glyphicon glyphicon-star" aria-hidden="true" (click)="downVote()">{{downvotes}}<i class="fa fa-thumbs-down"></i></span> dislike
          </button>

            <button type="button" class="btn btn-default ">
            <span>
              delete
            </span>
           </button>
          <p class="quote-submittedby"><span>submitted by: </span>{{quote.submittedquote}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        </div>
        </div>
      </div>



    </div>
    <div class="col-sm-3">
      <h2>Create new Quote</h2>

    </div>
  </div>


