.container-fluid{
margin-left: 40px;
margin-right: 20px;
padding: 30px;
}
.card-body{
  background-color: rgb(44, 42, 42);
}
.btn{
  background-color: #8623D4;
  margin-right: 4%;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  font-size: large;
}
.quote-title{
  font-family: 'Indie Flower', cursive;
  font-size: x-large;
}
.card{
  margin-bottom: 20px;
  margin-right: 20px;
  border-color:white ;
  box-shadow: 5px, white;

  border-radius: 6px;
}
.quote-submittedby{
  margin-top: 10px;
  font-family: 'Indie Flower', cursive;
  font-size: large;
}
.header2{
  font-family: 'Rock Salt', cursive;
  font-size: larger;
  text-align: center;
  margin-top: 10px;
  margin-right: 5%;
  margin-bottom: 20px;
}
.header3{
  font-family: 'Rock Salt', cursive;
  font-size: larger;
  text-align: center;
  margin-top: 10px;
  margin-right: 18%;
  margin-bottom: 20px;
}

