.btn{
  background-color: #8623D4;
  margin-right: 4%;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  font-size: large;
}

.btn2{
  background-color: rgb(255, 0, 174);
  margin-right: 4%;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  font-size: large;
  padding-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 3%;
}
