/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat&family=Oregano&family=Rock+Salt&display=swap');

body{
  background-color: black;
  color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
}
